/*Import Local Scss Files*/
@import 'fonts', 'variables', 'reset';
/*Responsive for Tablet*/
@media (min-width:768px) and (max-width:1024px) {
  /*##########Comon CSS##########*/
  section:not(.front-slider){padding: 35px 10px;}
  [class*=inner]{width: 100% !important;}
  /*Header*/
  header{
    .header-inner{
      padding: 0 10px;
      .search{
        width: 300px;
      }
    }
    .mega-navi{
      .mega-navi-inner{
        width: 100%;
        padding: 20px;
        gap: 10px;
        .mega-navi-item{
          font-size: 13px;
        }
      }
    }
  }
  /*section : Front Slider*/
  /*section : Category Shortcut*/
  .catergory-shorcut{
    .catergory-shorcut-inner{
      .catergory-shorcut-items{
        .catergory-shorcut-item{
          height: auto;
          padding: 10px 0;
          span{
            font-size: 14px;
          }
        }
      }
    }
  }
  /*section : Focus Class*/
  /*section : Best Class*/
  /*section : Timer*/
  /*section : Eary-bird*/
  /*section : Blog*/
  .blog{
    .blog-inner{
      .blog-content{
        .blog-items{
          .blog-item{
            flex: 1;
          }
          .thum{
            height: 160px;
          }
        }
      }
    }
  }
  /*section : Slogan*/
  .slogan{
    padding: 35px;
  }
  /*section : Tip-tech*/
  .tip-tech{
    .tip-tech-inner{
      .tip-tech-content{
        .tip-tech-wrap{
          .tip-tech-items{
            .tip-tech-item{
              width: 100%;
              .thum{
                display: none;
              }
            }
          }
        }
      }
    }
  }
  /*footer*/
  footer{
    padding: 30px 20px;
    .footer-inner{
      .lnb-wrap{
        gap: 40px;
      }
      .copyright-wrap{
        flex-direction: column;
        width: 80%; 
        text-align: right;
        margin: auto;
      }
      address{
        text-align: center;
        margin-bottom: 10px;
        br{display: none;}
      }
    }
  }
  /*############### class-detail.html ###############*/
  /*class-detail-image*/
  .class-detail-image{
    .class-detail-image-inner{
      height: 300px;
      padding: 0 50px;
      .heading{
        h2{
          font-size: 24px;
        }
        p{
          font-size: 16px;
        }
      }
      .cover-image{
        img{
          height: 250px;
        }
      }
    }
  }
  .class-detail-full{
    .class-detail-full-inner{
      .class-detail-full-content{
        flex-direction: column-reverse;
        .class-detail-info{
          .class-introduce{
            * img{
              width: 70%;
            }
          }
          .class-mentor{
            .class-detail-wrap{
              .mentor-profile-summary{
                .mentor-class-button{
                  .btn-mentor-profile{
                    padding: 3px 10px; 
                  }
                }
              }
              .class-detail-sidebar{
                position: static;
                .group-sub-action{
                  button{
                    width: 100%;
                  }
                }
                .class-detail-sidebar-wrap.group-required-info{
                  .overview{
                    .class-price{
                      justify-content: flex-end;
                      .sale{margin-right: 30px;}
                      .price-current{margin-right: 50px;}
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /*############### Take Cource & Cart : take course.html ###############*/
  .take-course{
    .take-course-inner{
      
    }
  }
}